/* Custom variables */
:root {
  /* colors */
  --clr-dark-blue: 240 38% 20%;
  --clr-gray-blue: 240 18% 77%;
  --clr-white: 0 0% 100%;

  /* font family */
  --ff-sans-serif: "Inter", sans-serif;

  /* Font Size */
  --fs-body: 1rem;

  /* Font weights */
  --fw-300: 300;
  --fw-500: 500;
  --fw-700: 700;
}

/*``````````````````````````````
    Reset CSS
 ```````````````````````````` */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-sans-serif);
}

body {
  background: hsl(var(--clr-fade-blue));
  font-weight: var(--fw-500);
  font-size: var(--fs-body);
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Utility Classes */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none !important;
}

/* component css */

.main {
  height: 100vh;
  padding: 2.5rem;
}

.slider {
  max-width: 100%;
}

.image {
  background-image: url("./images/pattern-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: right; */
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 12.5rem;
  width: 75%;
  object-fit: contain;
  object-position: -10px 5px;
  border-radius: 10px;
}

.content {
  gap: 0.25rem;
  margin-top: 3rem;
  text-align: center;
}

.testimonial {
  margin-bottom: 1rem;
  color: hsl(var(--clr-dark-blue));
  font-weight: var(--fw-300);
  line-height: 1.3;
  font-size: 1.09rem;
}
.name,
.position {
  font-size: 0.815rem;
}
.name {
  font-weight: var(--fw-700);
  color: hsl(var(--clr-dark-blue));
}
.position {
  color: hsl(var(--clr-gray-blue));
}

@media only screen and (min-width: 800px) {
}
