/* Custom variables */
:root {
  /* colors */
  --clr-dark-blue: 240 38% 20%;
  --clr-gray-blue: 240 18% 77%;
  --clr-white: 0 0% 100%;

  /* font family */
  --ff-sans-serif: "Inter", sans-serif;

  /* Font Size */
  --fs-body: 2rem;

  /* Font weights */
  --fw-300: 300;
  --fw-500: 500;
  --fw-700: 700;
}

/*``````````````````````````````
    Reset CSS
 ```````````````````````````` */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-sans-serif);
}

body {
  background: hsl(var(--clr-fade-blue));
  font-size: var(--fs-body);
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Utility Classes */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none !important;
}

/* component css */

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  padding-block: 2rem;
}

.image {
  background-image: url(./images/pattern-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 18rem;
  width: 100%;
  padding: 1rem;
}
.top-image-1 {
  background-image: url("./images/image-tanya.jpg");
}
.top-image-2 {
  background-image: url("./images/image-john.jpg");
}
.top-image-1,
.top-image-2 {
  top: 10%;
  left: 22%;
  height: 14.5rem;
  width: 55%;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  /* box-shadow: 0px 5px 20px 2px hsl(var(--clr-dark-blue) / 0.3); */
}
.navigation {
  bottom: 5%;
  left: 40%;
  background: hsl(var(--clr-white));
  width: 65px;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding-inline: 0.5rem;
  border-radius: 20px;
  box-shadow: -15px 15px 25px 5px hsl(var(--clr-dark-blue) / 0.3);
}
.navigation img {
  object-fit: contain;
  height: 10px;
  width: 20px;
  cursor: pointer;
}

.content {
  gap: 0.25rem;
  padding-inline: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.text {
  white-space: normal;
  margin-bottom: 2rem;
}

.testimonial {
  margin-bottom: 1rem;
  color: hsl(var(--clr-dark-blue));
  font-weight: var(--fw-300);
  line-height: 1.3;
  font-size: 1.1rem;
}
.name,
.position {
  font-size: 0.815rem;
}
.name {
  font-weight: var(--fw-700);
  color: hsl(var(--clr-dark-blue));
}
.position {
  color: hsl(var(--clr-gray-blue));
}

.quote {
  top: 30px;
  left: 42%;
  width: 50px;
  height: 40px;
}

.item {
  position: relative;
}

.curve {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 65px;
}
@media only screen and (min-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    justify-self: center;
    padding: 2rem 5rem;
  }

  .text {
    grid-column: 1/3;
    margin: 0;
    padding-inline: 2rem;
  }
  .image {
    grid-column: 2/-1;
  }

  .text,
  .image {
    grid-row: 1/2;
    align-self: center;
  }

  .content {
    text-align: left;
  }

  .test-by {
    flex-direction: row;
    gap: 0.5rem;
  }
  .name,
  .position {
    font-size: 18px;
  }
  .testimonial {
    font-size: var(--fs-body);
  }
  .quote {
    top: -12px;
    left: 20%;
    width: 120px;
    height: 100px;
  }

  .item {
    max-height: 100vh;
    height: 100vh;
  }

  .curve {
    bottom: -15px;
    left: 0;
    height: 125px;
  }
  .image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    height: 35rem;
    width: 100%;
  }

  .top-image-1,
  .top-image-2 {
    top: 10%;
    left: 29%;
    height: 28.25rem;
    width: 61%;
  }
  .navigation {
    top: 87%;
    left: 36%;
    width: 80px;
    height: 40px;
  }
}
